@import url(https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css);
@import url(https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.min.css);

.site-nav-option {
    font-size: 30px;
    line-height: 30px;
    height: 30px;
    text-decoration: none;
    text-transform: none;
    letter-spacing: 0;
    text-decoration: none;
    color: black;
}

.wrapper {
    height: 100%;
    flex-wrap:wrap;
    display: flex;
    align-items: center;
    padding: 20px;
    margin: 0 40px;
    font-family: 'Open Sans Condensed', sans-serif;
    min-width: 200px;
}

.post-container {
    width: 100%;
}

.post-content {
    display: flex;
    flex-wrap: wrap;
}

.post-content > div > p {
    display: flex;
    flex-direction: column;
    font-size: 20px;
}

.post-content img {
    height: auto;
    max-width: 100%;
    width: 500px;
    padding-bottom: 20px;
}

.slick-dots {
    padding: 0;
}

.slick-dots > ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.slick-active {
    font-weight: bold;
}