.message-us-container {
    position: fixed;
    width: 187px;
    height: 42px;
    right: 10px;
    bottom: 2px;
    cursor: pointer;
}

.message-us-body {
    box-shadow: 0 2px 10px rgba(0,0,0,.1) !important;
    border-radius: 4px 4px 0 0 !important;
    border: 1px solid rgba(0,0,0,.02)!important;
    max-width: 180px;
    height: 42px;
    background-color: #ffffff;
    padding: 0 20px;
}

.messageForm-enter {
    bottom: -400px;
    transform: translate(0, 400px);
    visibility: visible !important;
}

.messageForm-enter.messageForm-enter-active {
    transform: translate(0, 0%);
    transition: all cubic-bezier(.18,1,.21,1) .9s;
}

.messageForm-enter-done {
    visibility: visible !important;
}

.messageForm-exit {
    transform: translate(0, 0);
    visibility: visible !important;
}

.messageForm-exit.messageForm-exit-active {
    transform: translate(0, 100%);
    transition: all cubic-bezier(.18,1,.21,1) .9s;
}

.messageTab-enter {
    transform: translate(0, 100%);
    visibility: visible !important;
}

.messageTab-enter.messageTab-enter-active {
    transform: translate(0, 0);
    transition: all cubic-bezier(.18,1,.21,1) 1.65s;
}

.messageTab-enter-done {
    visibility: visible !important;
}

.messageTab-exit {
    transform: translate(0, 0);
    visibility: visible !important;
}

.messageTab-exit.messageTab-exit-active {
    transform: translate(0, 100%);
    transition: all cubic-bezier(.18,1,.21,1) .9s;
}

.messageTab-exit-done {
    visibility: hidden !important;
}

.message-us-form {
    box-shadow: 0 2px 10px rgba(0,0,0,.1) !important;
    border-radius: 4px 4px 0 0 !important;
    height: 450px;
    width: 300px;
    bottom: 0;
    position: fixed;
    visibility: hidden;
    right: 10px;
    background-color: #ffffff;
    z-index: 102;
    font-family: 'Open Sans Condensed', sans-serif;
}

.message-us-popup-container {
    padding: 0 20px;
    border-bottom: 1px solid #dddddd;
}

.message-us-title {
    cursor: pointer;
    overflow: hidden;
    width: 100%;
    bottom: 0;
    line-height: 42px;
    font-size: 18px;
    height: 42px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: flex;
    justify-content: space-between;
    font-family: 'Open Sans Condensed', sans-serif;
}

.message-us-text {
    padding: 10px;
    overflow: hidden;
    bottom: 0;
    font-size: 16px;
    height: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.message-icon {
    line-height: 42px !important;
}

.form-group {
    margin: 0;
    padding: 8px;
    border: 0;
    outline: 0;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
    display: flex;
    flex-direction: column;
}

.form-control {
    border: 1px solid #ccc;
    padding: 6px .5em 5px; 
    outline: 0;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 16px;
}

.required-input {
    color: red;
}

.message-submit {
    border: 0;
    background: #3F3F3F;
    color: #fff;
    border-radius: 3px;
    padding: 10px 15px;
    font-size: 16px;
    margin: 0 auto;
    display: block;
    font-family: 'Open Sans Condensed', sans-serif;
}